.vscode/settings.json
CMakeLists.txt
.vscode/*
.vs/*
/build
*/*/*.exe
*.exe
*/*.exe
*/*.out
*.out
/abc[0-9]/*/*/test/
/abc[0-9]/*/contest.acc.json
/arc/*/*/test/
/arc/*/*/contest.acc.json
/others/*/*/test/
/others/*/contest.acc.json
/others/*/*/*/test/
/others/*/*/*/contest.acc.json